@media (max-width: 1400px) {
    body{
        height: fit-content;
    }
}
@media (min-width: 1000px) {
    button:hover{
        background-color: #2f4f4f;
        cursor: pointer;
        transition: ease-in;
        transition: ease-out;
        transition-duration: 1.5s;
    }
    .blog button:hover{
        background-color: #e8491d;
        border-color: #2f4f4f;
        cursor: pointer;
    }
}
@media (max-width: 700px) {
    nav li{
        margin-left: auto;
    }
    header h1{
        margin-left: auto;
    }
}
@media (max-width: 552px) {
    .blog p{
        font-size: medium;
    }
    header h1{
        font-size: 30px;
    }
    .meh{
        height: fit-content;
    }
}
@media (max-width: 860px) {
    .meh{
        height: fit-content;
        padding-bottom: 15px;
    }

}
@media (max-width: 750px) {
    .newsletter h2{
        font-size: 20px;
    }
    .newsletter input{
        height: 35px;
        float: none;
        width: 200px;
        border-radius: 5px;
        border: none;
    }
    .newsletter button{
        height: 42px;
    }
    nav ul{
        float: none;
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }
    .para h3{
        font-size: medium;
    }
    .para p{
        font-size: small;
    }
    header h1{
        font-size: 30px;
        margin-left: 0px;
        margin-top: 40px;
    }
    header{
        height: 70px;
    }
    .newsletter button{
        height: 30px;
    }
    .newsletter input{
        height: 28px;
        width: 150px;
    }
    .newsletter{
        display: block;
    }
    .hero-background h2{
        font-size: 33px;
    }
}
@media (max-width: 495px) {
    nav li{
        margin-right: -25px;
    }
    .newsletter h2{
        font-size: 15px;
    }
    .newsletter input{
        height: 20px;
    }
    .newsletter button{
        height: 25px;
    }
    .newsletter{
        display: block;
    }
}
@media (max-width: 540px) {
    .about{
        height: fit-content;
    }
    nav ul{
        float: none;
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }
}
@media (max-width:480px) {
    header h1{
        font-size: 20px;
    }
    header{
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav ul{
        float: none;
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }
    nav{
        font-size: 12px;
    }
    .hero-background h2{
        font-size: 25px;
        margin-left: auto;
    }
    .hero-background p{
        font-size: 10px;
        margin-left: auto;
    }
    .blog p{
        font-size: 10px;
    }
    .blog button{
        height: 30px;
        width: 80px;
    }
    footer p{
        font-size: 10px;
    }
    footer{
        height: fit-content;
    }
    .developer-image{
        width: 50px;
        height: 50px;
    }
    .dev p{
        font-size: 10px;
        margin-top: 30px;
    }
    .para h3{
        font-size: medium;
    }
    .para p{
        font-size: small;
    }
    .service-item h2, .service-item p{
        font-size: medium;
    }
    .service-item svg{
        width: 10px;
        height: 10px;
        margin-top: 20px;
    }
    .service-item{
        height: fit-content;
    }
}
@media (max-width: 385px) {
    header h1{
        font-size: small;
    }
    nav{
        font-size: 10px;
    }
}
@media (max-width: 526px) {
    nav{
        font-size: small;
        margin-right: 0px;
    }
    .hero-background h2{
        font-size: 30px;
    }
}
@media (max-width: 350px) {
    nav{
        font-size: x-small;
    }
    .hero-background h2{
        font-size: 18px;
    }
    .hero-background p{
        font-size: 9px;
    }
}
@media (max-width: 285px) {
    header h1{
        font-size: x-small;
    }
    nav{
        font-size: x-small;
    }
}
@media (max-width: 680px){
    .more-stuff span{
        font-size: 15px;
    }
    .more-stuff p{
        font-size: 12px;
    }
    .more-stuff svg{
        height: 18px;
        width: auto;
    }
}